@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@inject ProtectedLocalStorage sessionStorage
@inject NavigationManager navigationManager

<script>
    function setCookie(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        let expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    function Set_Data_Language(p_strLang) {
        setCookie("language", p_strLang, 5000);
        window.location.reload();
    }

    function Show_Hide_Menu() {
        var hide_hover_menu = localStorage.getItem("hide_hover_menu");

        if (hide_hover_menu != 1)
            localStorage.setItem("hide_hover_menu", 1);
        else
            localStorage.setItem("hide_hover_menu", 0);

        window.location.reload();
    }
</script>
@{
    string m_strTitle = "";

    string v_strFlag_img = "vn.svg";
    string v_strData_Lang = "vi-VN";
    switch (v_strData_Lang)
    {
        case "vi-VN": v_strFlag_img = "vn.svg"; break;
        case "en-US": v_strFlag_img = "us.svg"; break;
        case "jp-JA": v_strFlag_img = "jp.svg"; break;
        case "zh-CN": v_strFlag_img = "china.svg"; break;
        case "ko-KR": v_strFlag_img = "kr.svg"; break;
    }

    string Get_Data_Field_Language(string p_strField)
    {
        return p_strField;
    }


}
<header id="page-topbar">
    <div class="layout-width">
        <div class="navbar-header">
            <div class="d-flex">
                <!-- App Search-->
                <h5 class="mb-sm-0" style="padding-top: 15px;">
                    <span id="txtCore_Title" style="color: white;">@m_strTitle</span>
                </h5>

                <button type="button" class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger shadow-none"
                        id="topnav-hamburger-icon" style="padding-top: 30px;">
                    <span class="hamburger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </button>
            </div>

            <div class="d-flex align-items-center">

                <div class="dropdown d-md-none topbar-head-dropdown header-item">
                    <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle shadow-none"
                            id="page-header-search-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        <i class="bx bx-search fs-22"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                         aria-labelledby="page-header-search-dropdown">
                        <form class="p-3">
                            <div class="form-group m-0">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search ..."
                                           aria-label="Recipient's username">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="mdi mdi-magnify"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


                <div class="dropdown ms-1 topbar-head-dropdown header-item">
                    <span class="form-label-info" id="lblSpeed" style="padding-left: 5px; padding-right: 5px; font-weight: bold; color: white;"></span>
                    <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle shadow-none"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img id="header-lang-img1" src="/assets/images/flags/@v_strFlag_img" alt="Header Language" height="20"
                             class="rounded">
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <!-- item-->
                        <a href="javascript:Set_Data_Language('vi-VN')" class="dropdown-item notify-item language py-2"
                           title="Tiếng việt">
                            <img src="/assets/images/flags/vn.svg" alt="user-image" class="me-2 rounded" height="18">
                            <span class="align-middle"> @Get_Data_Field_Language("Tiếng Việt")</span>
                        </a>

                        <!-- item-->
                        <a href="javascript:Set_Data_Language('en-US')" class="dropdown-item notify-item language"
                           title="English">
                            <img src="/assets/images/flags/us.svg" alt="user-image" class="me-2 rounded" height="18">
                            <span class="align-middle">@Get_Data_Field_Language("English")</span>
                        </a>

                        <!-- item-->
                        <a href="javascript:Set_Data_Language('jp-JA')" class="dropdown-item notify-item language"
                           title="Japanese">
                            <img src="/assets/images/flags/jp.svg" alt="user-image" class="me-2 rounded" height="18">
                            <span class="align-middle">@Get_Data_Field_Language("Japanese")</span>
                        </a>

                        <!-- item-->
                        <a href="javascript:Set_Data_Language('ko-KR')" class="dropdown-item notify-item language"
                           title="Korean">
                            <img src="/assets/images/flags/kr.svg" alt="user-image" class="me-2 rounded" height="18">
                            <span class="align-middle">@Get_Data_Field_Language("Korean")</span>
                        </a>

                        <!-- item-->
                        <a href="javascript:Set_Data_Language('zh-CN')" class="dropdown-item notify-item language"
                           title="Chinese">
                            <img src="/assets/images/flags/china.svg" alt="user-image" class="me-2 rounded" height="18">
                            <span class="align-middle">@Get_Data_Field_Language("Chinese")</span>
                        </a>
                    </div>
                </div>

                <div class="ms-1 header-item d-none d-sm-flex">
                    <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle shadow-none"
                            data-toggle="fullscreen">
                        <i class='bx bx-fullscreen fs-22'></i>
                    </button>
                </div>


                <div class="dropdown ms-sm-3 header-item topbar-user">
                    <button type="button" class="btn shadow-none" id="page-header-user-dropdown" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <span class="d-flex align-items-center">
                            <img class="rounded-circle header-profile-user" src="/assets/images/users/user-dummy-img.jpg"
                                 alt="Header Avatar">
                            <span class="text-start ms-xl-2">
                                <span class="d-none d-xl-inline-block ms-1 fw-medium user-name-text">Tuấn</span>
                                <span class="d-none d-xl-block ms-1 fs-12 text-muted user-name-sub-text">Tuấn</span>
                            </span>
                        </span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <!-- item-->
                        <h6 class="dropdown-header">@Get_Data_Field_Language("Xin chào") Tuấn</h6>
                        <a class="dropdown-item" href="#">
                            <i class="mdi mdi-account-circle text-muted fs-16 align-middle me-1"></i> <span class="align-middle">@Get_Data_Field_Language("Thông tin tài khoản")</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:window.location.href='/sys/dang_xuat';">
                            <i class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i> <span class="align-middle" data-key="t-logout">@Get_Data_Field_Language("Đăng xuất")</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>